<p>
  First, let's install the Judoscale add-on. Run the following command from a
  terminal. It will install the “early access” (free) version of Judoscale.
</p>

<pre><code>$ heroku addons:create judoscale -a [your-app-name]</code></pre>

<p>Refresh this page to verify your installation.</p>
