<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css"
    />
    <title>Judoscale Demo</title>
  </head>
  <body>
    <main>
      <hgroup>
        <h1>Judoscale Demo</h1>
        <p>
          A tiny Node.js application for testing
          <a href="https://elements.heroku.com/addons/judoscale" target="_blank"
            >Judoscale</a
          >.
        </p>
      </hgroup>

      <% if (locals.judoscaleIsInstalled) { %>
      <section><%- include ("../partials/judoscale-installed.ejs") %></section>
      <% } else { %>
      <section><%- include ("../partials/install-judoscale.ejs") %></section>
      <% } %>
    </main>
  </body>
</html>
